* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5)
  );
  background-color: rgb(10, 40, 42);
  font-family: sans-serif;
  height: 100vh;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 1000;
  color: white;
}
/* Aside */
.aside {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.aside-box {
  position: absolute;
  width: 330px;
  height: 100vh;
  background-color: rgb(8, 161, 108);
  border-radius: 40px 0 0 40px;
  /* left: 1198px; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}
/* img */
.img > img {
  position: absolute;
}
.coffee {
  /* position: absolute; */
  width: 350px;
  top: 10px;
  right: 150px;
  transform: rotate(15deg);
  filter: drop-shadow(0 0 50px black);
}
.coffee > img {
  width: 100%;
}
.coffee-bean {
  /* position: absolute; */
  width: 130px;
  top: 530px;
  filter: blur(1px) drop-shadow(0 0 50px black);
}
/* Product-name */
.product-name {
  position: absolute;
  font-size: 5rem;
  top: 300px;
  right: -145px;
  transform: rotate(-90deg);
  color: white;
}
.product-name-two {
  right: -220px;
  color: transparent;
  -webkit-text-stroke: 3px white;
}
/* nav-bar */
.nav-bar {
  height: 15vh;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
}
.nav-logo {
  width: 120px;
}
.nav-logo > img {
  width: 100%;
}
.nav-list {
  display: flex;
  gap: 2.3rem;
}
/* body */
/* text */
.body {
  /* width: 100vw; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* align-items: center; */
}
.heading-txt {
  width: 100%;
  margin: 90px 0 0 40px;
  color: white;
}
.heading {
  font-size: 1.9rem;
  color: rgb(25, 193, 140);
}
.txt {
  font-size: 4rem;
  font-weight: 450;
}
.txt-one {
  margin-top: 15px;
}
.txt-one > span {
  font-weight: 800;
}
.txt-two {
  margin-top: -30px;
}
.txt-two > span {
  font-weight: 800;
}
/* button */
.button {
  margin-top: 25px;
  margin-left: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* gap: 40px; */
  gap: 25px;
}
.btn {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px 35px;
  font-size: 1rem;
  border-radius: 30px;
  box-shadow: 0 0 15px white;
  animation: scale 3s ease infinite alternate;
  cursor: pointer;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.order {
  background-color: green;
  color: white;
  border: 2px solid white;
}
.order:hover {
  background-color: transparent;
  /* animation-play-state: paused; */
}
.delivery {
  background-color: white;
  color: black;
  border: 2px solid black;
  font-weight: 700;
}
.delivery:hover {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}
.delivery > i {
  color: rgb(25, 193, 140);
}
/* product-card */
.product-box {
  width: 100%;
  margin: 50px 0 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* align-items: center; */
  gap: 15px;
  z-index: 1;
}
.box {
  width: 130px;
  height: 130px;
  background-color: rgba(116, 112, 112, 0.7);
  border-radius: 30px;
}
